version: '2'
services:
  db:
    image: ${DBIMAGE}
    container_name: ${COMNAME}-db


    expose:
      - "1433"
      - "1521"

  gui:
    image: ${GUIIMAGE}
    container_name: ${COMNAME}-gui


    expose:
     - "1578"
     - "1581"
     - "8080"

  labs:
    image: ${LABSIMAGE}
    container_name: ${COMNAME}-labs


    expose:
     - "8080"

  licence:
    image: ${LICENCEIMAGE}
    container_name: ${COMNAME}-licence


    expose:
     - "1521"
     - "8080"

    links:
      - db:vm-partner1
