version: '2'
services:
  labsgui:
    image: ${GUIIMAGE}

      {{- if eq .Values.RESTART "true"}}
    restart: always
      {{- end}}

    ports:
      - ${PORT1577}:1577
      - ${PORT1581}:1581
      - ${PORT8080}:8080
  #  volumes:
      #- ${LINKPATH}:/usr/local/gui

    dns: 192.168.0.1
    dns_search: icd-gmbh.de
    privileged: true
    entrypoint: /usr/local/dockerinit.sh
    cap_add:
      - ALL
      - SYS_ADMIN
      - DAC_READ_SEARCH
