version: '2'
services:
  labsgui:
    image: ${GUIIMAGE}

      {{- if eq .Values.RESTART "true"}}
    restart: always
      {{- end}}

    ports:
      - ${PORT1577}:1577
      - ${PORT1578}:1578
      - ${PORT1581}:1581
      - ${PORT8080}:8080
    privileged: true
    cap_add:
      - ALL
      - SYS_ADMIN
      - DAC_READ_SEARCH

      {{- if eq .Values.OWNDNS "true"}}
    dns: ${DNS_SERVER}
    dns_search: ${DNS_SEARCH}
      {{- end}}
