version: '2'
services:
  labsdb:
    image: ${GUIIMAGE}

      {{- if eq .Values.RESTART "true"}}
    restart: always
      {{- end}}

    ports:
      - ${PORT1577}:1577
      - ${PORT1581}:1581
      - ${PORT8080}:8080
    volumes:
      - ${LINKPATH}:/usr/local/gui
      - //vm-demo1:/usr/local/gui/demo1
